$primary-color: #18181B;
$secondary-color: #0E0E10;
$font-color: #f0f0f0;
$font-family: 'Arial', sans-serif;

body {
    font-family: $font-family;
    background-color: $secondary-color;
    color: $font-color;
}

header {
    text-align: center;
    margin: 0 auto;
    color: $font-color;
    padding: 1em;

    .container {
        max-width: 1000px;
    }
}


.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}


// Game Screen

.game-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.player {
    background-color: $primary-color;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
}

.active-player {}

.score-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    height: 200px;
    border-radius: 20px 20px;
    max-width: 500px;
    background-color: $primary-color;
    color: $font-color;
    font-weight: bold;
    font-size: 24px;
}

// Game Grid Logic

.game-grid {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.game-cell {
    cursor: pointer;

    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1F1F25;
    border-radius: 5px;
}

.is-ship {
    background-color: #606068;
}

.is-hitted {
    background-color: #f16976;
}

.is-missed {
    background-color: #8fb9a8;
}